build/
catboost_info/
src/python/Experiment*.py
/src/rust/hyper_search/target/*
/src/rust/hyper_search/EtxetnoC*
proto.py
protoPYTHON_wrap.cxx
__pycache__
EtxetnoC*
*.so
*.o
*.dat
*.dot
*.pdf
*.png
*.csv
*.tar.gz
*.tar
*.gz
*.zip
*.cxx
*.ipynb
*.pynb
*.odp
*.gar
*.gnd
*.prd
*.cxt
prof.data*
prof.callgrind*
core
*~
.ipnyb_checkpoints/
